{{#if shoppingCart.itemsInCart}}
  {{#each shoppingCart.items as |book|}}
    <div class="row">
      <div class="col-sm-1 remove-col">
        <img class="remove" src="/assets/images/minus.png" alt="Remove Item" {{action 'removeQuantity' book book.price}}>
      </div>
      <div class="col-sm-1 quantity">
        <span>{{book.quantity}}</span>
      </div>
      <div class="col-sm-1 add-col">
        <img class="add" src="/assets/images/plus.png" alt="Add Item" {{action 'addQuantity' book}}>
      </div>
      <div class="col-sm-6 item">
        <span>{{book.title}}</span>
      </div>
      <div class="col-sm-2 price">
        <span>${{book.price}}.00</span>
      </div>
    </div>
  {{/each}}
{{else}}
  <p class="text-center">No items in cart.</p>
{{/if}}
<hr>
<h4 id="total">Total: ${{shoppingCart.total}}.00 <button id="checkout" class="btn pull-right">Checkout</button></h4>
